<body>
<div class="container">
<h1>Listing Articles</h1>
<%= link_to 'New article', new_article_path %> 
<table class="table table-hover table-white table-hover">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title , article_path(article) %></td>
      <td><%= article.text %></td>
     
      <td>
        <% if user_signed_in? && article.user_id == current_user.id || current_user&.admin? %>
          <%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
 
</div>

 

<div class="container 2">
<% if current_user&.admin? %>
<table class="table table-hover table-white">
<tr>
    <th>User id</th>
    <th>User Email</th>
    <th>User article</th>
    <th>User last seen</th>
</tr>
<% @users.each do |user| %>
<tr>
  <td><%= user.id %></td>
  <td><%= user.email %></td>
  <td>
  <% user.articles.each do |article|%>
    <ul>
<li><%= link_to article.title, article_path(article), method: :get %></li>
    </ul>
  <% end %> 
  </td> 
  <td><%= user.last_sign_in_at%></td>
</tr>
<% end %> 

</table> 

<h5>Users</h5>

<p>
  Download:
  <%= link_to "CSV", articles_path(format: "csv") %> |
  <%= link_to "Excel", articles_path(format: "xls") %>
</p>
<!-- Rest of file omitted -->
<% end %>
 

</div>
</body>